.ball{
    width: 60px;
    height: 60px;
    background-color: orange;
    border-radius: 50%;
    z-index: -1;
}
@media(min-width: 1024px){
    .ball {
        width: 90px;
        height: 90px;
    }
}