.crosshair{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px tomato solid;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    pointer-events: none;
    &::before{
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        background: tomato;
        border-radius: 50%;
    }
}