.game-screen{
    width: 90%;
    height: 80vh;
    margin: $spacing auto;
    border: 3px $primary-light-color solid;
    overflow: hidden;
    cursor: none;
}

@media(min-width: 1024px){
    .game-screen{
        width: 100%;
    }
}